body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
.navbar {
    background-color: #000;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-list li {
    margin: 0 15px;
}

.nav-list a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-list a:hover {
    color: #4da6ff;
}
.profile-icon img {
    height: 40px;
    border-radius: 50%;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    border-radius: 50px;

}

.search-bar input {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-bar button {
    padding: 10px 20px;
    border: none;
    background-color: #2676cb;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}


.job-listings {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px;
    padding: 20px;
    background-color:#144992
}

.job-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease;
    height: auto;
    width: 500px;
    border-radius: 10px;
}

.job-card img {
      
        max-width: 100%; /* Prevents stretching */  
        height: auto; /* Maintains aspect ratio */  
        object-fit: contain; /* Maintains clarity */  
        transition: transform 0.3s;
    
}

.job-card h3 {
    margin: 10px 0;
}

.job-card p {
    margin: 5px 0;
}

.job-card button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.job-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px grey;  
}

  