body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    
}


.navbar {
    background-color: #000;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-list li {
    margin: 0 15px;
}

.nav-list a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-list a:hover {
    color: #4da6ff;
}

.profile-icon img {
    height: 40px;
    border-radius: 50%;
}

.search-container {
    display: flex;
    gap: 10px;
    background-color: #dcdcdc;
    padding: 10px;
    border-radius: 50px;
}

.search-input {
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    outline: none;
    flex: 1;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 14px;
}

.search-input::placeholder {
    color: #888;
}

.search-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 14px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.search-button:hover {
    background-color: #0056b3;
}

    img {
        width: 100px; 
        height: auto; 
        display: flex; 
      justify-content: center
    }
.job-details h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.job-details p {
    font-size: 14px;
    color: #666;
}

.location {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}

.job-actions {
    margin-top: 15px;
 
}

.job-actions button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    width: 100%;
}

.job-actions button:hover {
    background-color: #555;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates 3 equal-width columns */
    gap: 20px; /* Adjust space between cards */
    

.job-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease;
}
.job-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px grey;
    transition: transform 0.5s ease, box-shadow 0.3s ease;
}
}
  